.sidebar {
    width: 15vw;
    min-width: 150px;
    min-height: calc(100vh - 52px);
    height: fit-content;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid var(--cor-Silver);
    border-radius: 10px;
    background-color: var(--gray-50);
    overflow: hidden;
}

.exibirSidebarProCima {
    margin-left: 10px !important;
    transition: margin-left 0.7s linear;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        margin-left: -55vh;
        width: 50vw;
        transition: margin-left 0.7s linear;
    }
}

.sidebar ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 8px;
}

.sidebar li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: right;
    border: 2px solid var(--cor-Silver);
    border-radius: 5px;
    color: black;
    background-color: white;
    min-width: 75px;
    font-weight: 800;
}

.sidebar li a:hover {
    background-color: var(--cor-Silver);
    color: white;
}
