.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
}

.sidebar {
    padding: 1rem;
    margin: 5px 5px 5px 10px;
    width: 15vw;
    height: calc(100vh - 10px);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--cor-Silver);
    transition: width 1s; /* Adiciona uma transição suave para a mudança de largura */
}

@media (max-width: 750px) {
    .sidebar {
        display: none;
    }

    .content {
        width: 100vw !important;
        margin-left: 0;
    }
}

.sidebar.hidden {
    width: 0;
    overflow: hidden;
}

.content-expanded {
    margin-left: 0;
}

.sidebar ul {
    list-style: none;
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding: 0;
}

/* Estilos para os itens de lista (li) dentro da barra lateral */
.sidebar li {
    margin-bottom: 8px; /* Espaçamento inferior entre os itens de lista */
}

/* Estilos para os links (a) dentro dos itens de lista (li) */
.sidebar li a {
    display: block; /* Faz com que os links ocupem a largura total dos itens de lista */
    text-decoration: none; /* Remove a decoração padrão de link */
    padding: 10px; /* Adicione preenchimento aos links para torná-los visualmente botões */
    text-align: right; /* Alinha os links à direita dentro dos itens de lista */
    border: 2px solid var(--cor-Silver); /* Adiciona uma borda aos links estilo botões */
    border-radius: 5px; /* Adiciona bordas arredondadas aos links estilo botões */
    color: black; /* Cor do texto */
    background-color: white; /* Cor de fundo */
    min-width: 75px;
    font-weight: 800;
}

/* Estilos para os links (a) quando hover (passar o mouse) */
.sidebar li a:hover {
    background-color: var(
        --cor-Silver
    ); /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Altera a cor do texto ao passar o mouse */
}
