/* Content within the card */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    align-self: center;
}

/* Logo container styling */
.logoContainer {
    align-self: center;
}

/* Logo styling */
.logo {
    align-self: center;
}

/* Title styling */
.title,
.subtitle {
    align-self: center;
    height: 10%;
}

/* Input container styling */
.inputContainer {
    align-self: start;
    min-width: 100%;
    min-height: 40%;
}

/* Button container styling */
.buttonContainer {
    padding-top: 1rem;
    text-align: center;
}

.subLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3125rem;
}
.link {
    text-decoration: none;
    font-size: 0.75rem;
}

.criarConta {
    padding-top: 1rem;
    text-align: center;
}
