.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    margin: 0;
}

.content {
    width: calc(100vw - 15vw);
    margin: 5px 10px 5px 5px;
    min-height: calc(100vh - 10px);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--cor-Silver);
    padding: 1rem;
}

@media (max-width: 750px) {
    .content {
        width: calc(100vw + 10px);
        margin: 5px 10px 5px 5px;
    }
}
