.calendario {
    padding-top: 30px;
    max-width: 35rem;
}

.celulaCalendario {
    min-width: 90%;
    min-height: 90%;
    border: 2px solid #b1a7a6;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background: #c9caca;
}

.fakeDia {
    min-width: 90%;
    min-height: 90%;

    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celulaCalendario:hover {
    cursor: pointer;
    background: #b1a7a6 !important;
}

.diaSemanacalendario {
    display: inline-flex;
    width: 14%;
    justify-content: center;
}

.diaCalendario {
    display: inline-flex;
    width: 14%;
    justify-content: center;
    pointer-events: auto;
    aspect-ratio: 1;
}
